@page "/powerpoint"
@using ServerSideApplication.Data
@inject PowerPointService service
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO;

<h2>Syncfusion PowerPoint library (Essential Presentation)</h2>

<p>Syncfusion PowerPoint library (Essential Presentation) is a Blazor PowerPoint library used to create, read, edit, and convert PowerPoint files (.PPTX, .PPTM, .POTX, .POTM) in your applications without any Microsoft Office dependencies.</p>

<button class="btn btn-primary" onclick="@CreatePowerPoint">Create PowerPoint</button>

@functions {
    MemoryStream pptxStream;
    /// <summary>
    /// Create and download the PowerPoint document
    /// </summary>
    protected async void CreatePowerPoint()
    {
        pptxStream = service.CreatePowerPoint();
        await JS.SaveAs("Sample.pptx", pptxStream.ToArray());
    }
}