@page "/"

<h2>Syncfusion File-Format library (Essential File Formats)</h2>

<p>Essential File-Format product is a collection of libraries to create, edit, write, and convert PDF, Excel, Word, and PowerPoint file formats in Blazor applications without Microsoft Office or Adobe dependencies.</p>
