@page "/"

<h2>Syncfusion File Format library (Essential File Formats)</h2>

<p>Essential File Formats is a collection of libraries to create, edit, write, and convert PDF, Excel, Word, and PowerPoint file formats in Blazor applications without Microsoft Office or Adobe dependencies.</p>
<p>For more information about Syncfusion File-Format libararies, please <a href="https://help.syncfusion.com/file-formats/introduction" target="_blank" class="ml-md-auto">click here.</a></p> 