@page "/excel"
@using Syncfusion.XlsIO;
@inject Microsoft.JSInterop.IJSRuntime JS

<h2>Syncfusion Excel library (Essential XlsIO)</h2>

<p>Syncfusion Excel library (Essential XlsIO)  is a Blazor Excel library used to create, read, edit, and convert Excel files in your applications without Microsoft Office dependencies.</p>

<button class="btn btn-primary" onclick="@CreateExcel">Create Excel</button>

@functions {

    /// <summary>
    /// Create a 'Hello Word' excel document
    /// </summary>
    async void CreateExcel()
    {
        //Create a new excel document
        using (ExcelEngine excelEngine = new ExcelEngine())
        {
            //Instantiate the Excel application object
            IApplication application = excelEngine.Excel;

            //Assigns default application version
            application.DefaultVersion = ExcelVersion.Excel2010;

            //A new workbook is created equivalent to creating a new workbook in Excel
            //Create a workbook with 1 worksheet
            IWorkbook workbook = application.Workbooks.Create(1);

            //Access first worksheet from the workbook
            IWorksheet worksheet = workbook.Worksheets[0];

            //Adding text to a cell
            worksheet.Range["A1"].Text = "Hello World";

            //Save the document as a stream and retrun the stream.
            using (MemoryStream stream = new MemoryStream())
            {
                //Save the created Excel document to MemoryStream.
                workbook.SaveAs(stream);

                //Download the excel file
                await JS.SaveAs("Sample.xlsx", stream.ToArray());
            }
        }
    }
}
